body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header, nav, section, aside, footer {
    background: #ebebeb;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 125px;

}

article {
    color: #ebebeb;
    background: #777;
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

h1, p, {
    color: #777;
    background: #ebebeb;
}

h3, p {
    text-align: center;
    background: #ebebeb;
    color: #777;
    margin: 15px 10px 10px;
    padding: 10px;
}

header {
    text-align: center;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

nav {
    text-align: center;
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

section {
    float: left;
    width: 495px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

aside {
    float: left;
    padding-top: 30px;
    padding-bottom: 211px;
    padding-right: 133.3px;
    padding-left: 133.3px;
    width: auto;
    margin-left: 10px;
}

#wrapper {
    height: auto;
    padding-bottom: 10px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;

 }

.footer {
    min-height: 10%;
    overflow: auto;
    text-align: center;
    padding-top: 50px;
}